$noise-bg: image-url('noise.png') top left !default;

// Main Link Colors
$link-color: lighten(#165b94, 3) !default;
$link-color-hover: adjust-color($link-color, $lightness: 10, $saturation: 25) !default;
$link-color-visited: adjust-color($link-color, $hue: 80, $lightness: -4) !default;
$link-color-active: adjust-color($link-color-hover, $lightness: -15) !default;

// Main Section Colors
$main-bg: #f8f8f8 !default;
$page-bg: #252525 !default;
$article-border: #eeeeee !default;

$header-bg: #333 !default;
$header-border: lighten($header-bg, 15) !default;
$title-color: #f2f2f2 !default;
$subtitle-color: #aaa !default;

$text-color: #222 !default;
$text-color-light: #aaa !default;
$type-border: #ddd !default;

$sans: proxima-nova, Helvetica Neue, Helvetica, Arial, sans-serif !default;
$serif: "adelle", Georgia, Times, "Times New Roman", serif !default;
$mono: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !default;

@mixin shadow-box($border: #fff .5em solid, $shadow: rgba(#000, .15) 0 1px 4px, $border-radius: .3em) {
  @include border-radius($border-radius);
  @include box-shadow($shadow);
  @include box-sizing(border-box);
  border: $border;
}

@mixin selection($bg, $color: inherit, $text-shadow: none){
  * {
    &::-moz-selection { background: $bg; color: $color; text-shadow: $text-shadow; }
    &::-webkit-selection { background: $bg; color: $color; text-shadow: $text-shadow; }
    &::selection { background: $bg; color: $color; text-shadow: $text-shadow; }
  }
}

@import "compass";
@include global-reset;
@include reset-html5;

@import "syntax/solarized";
@import "syntax/syntax";

@import "toast/reset";
@import "toast/grid";

.header-wrap {
  width: 100%;
  padding: 20px 0;
  margin: 0;
  position: relative;
  background: #131416 url(/images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  img {
    margin: 0 auto;
    display: block;
  }

  h1 {
    margin: 20px auto;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .75em;
    font-size: 32px;

    a {
      color: #fff;
    }

  } // h1

  h2 {
    margin: 0;
    text-align: center;
    font-family: $serif;
    font-size: 18px;
    font-style: italic;
    color: #555;
  }
} // .header-wrap

.f-nav{ z-index: 9999; position: fixed; margin-top: 0; top: 0;} /* this make our menu fixed top */

.main-nav-wrap {
  height: 30px;
  padding: 0;
  background: red;
  margin: 0 auto;
}

.main-navigation {
  margin: 0;
  padding: 0;
  height: 30px;
  li {
    display: inline-block;
  }
}

.main-navigation {
  background: rgba(0,0,0,.4);
  display: inline-block;
}

article .meta {
  padding: 0;
  margin: 0;
  font-size: 14px;
}


@import "toast/type";