<ul class="wrap main-navigation">
  <li><a href="{{ root_url }}/" class="active">Hardcoders</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
  <ul class="social-header">
    <li><a href="{{ site.subscribe_rss }}"rel="subscribe-rss" class="rss" title="subscribe via RSS">RSS</a></li>
    <li><a href="https://twitter.com/hardcodersmx" class="pull-right twitter">Twitter</a></li>
    <li><a href="https://www.facebook.com/hardcodersmx" class="pull-right facebook">Facebook</a></li>
  </ul>
</ul>
